{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>Index des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Typologie familiale</th>
				<th>Date de naissance</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.familyTypology }}</td>
					<td>{{ user.birthday ? user.birthday|date('d-m-Y') : '' }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">Détail</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">Editer</a>
						<a href="{{ path('app_user_delete', {'id': user.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
